<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/auth.css" />
  </head>
  <body class="login-page centered v-centered">
    <h1 class="login-projectName">Inventory Management Solution</h1>
    <h1>Login</h1>
    <% if (errorMessage) { %>
    <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
    <% if (message) { %>
      <div class="user-message"><%= message %></div>
      <% } %>
    <form action="/login" method="POST">
      <div class="item-field">
        <label id="emailLabel" for="email">EMAIL</label>
        <br />
        <input
          id="emailInput"
          class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
          type="email"
          name="email"
          size="35"
          maxlength="64"
          value="<%= oldInput.email %>"
        />
      </div>
      <div class="login-password">
        <label id="passwordLabel" for="password">PASSWORD</label>
        <br />
        <input
          id="passwordInput"
          class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
          type="password"
          name="password"
          size="35"
          maxlength="35"
          value="<%= oldInput.password %>"
        />
      </div>
      <button type="submit" class="btn btn-primary login-button">Login</button>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    </form>
    <div class="login-resetPassword">
      <a href="/reset">Reset Password</a>
    </div>
    <div class="login-roles centered">
      <h3>Demo Roles</h3>
      <h5>(click to auto fill credentials)</h5>
      <ul>
        <li id="adminBtn">
          Admin
          <br />
          <i class="fas fa-user-shield"></i>
        </li>
        <li id="purchaserBtn">
          Purchaser
          <br />
          <i class="fas fa-user-clock"></i>
        </li>
        <li id="salespersonBtn">
          Salesperson
          <br />
          <i class="fas fa-comments-dollar"></i>
        </li>
        <li id="warehouseBtn">
          Warehouse
          <br />
          <i class="fas fa-warehouse"></i>
        </li>
      </ul>
    </div>
    <div class="login-resetPassword">
      <h4>Dont have an account? <a href="/signup">SIGN UP</a></h4>
    </div>
    <script src="/js/login.js"></script>
  </body>
</html>
