<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
  </head>
  <body>
    <% if (errorMessage) { %>
    <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
    <form action="/new-password" method="POST">
      <div class="item-field">
        <label for="password">Password:</label>
        <input type="password" name="password" size="16" maxlength="16" />
      </div>
      <button type="submit" class="btn btn-primary">Update Password</button>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <input type="hidden" name="userId" value="<%= userId %>" />
      <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
    </form>
  </body>
</html>