<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div id="banner">
      <h1 class="banner-text">IMS</h1>
    </div>
    <div id="main-layout">
      <div id="navbar">
        <ul>
          <li><a href="" class="">Items</a></li>
          <li><a href="" class="">Inventory Adjustment</a></li>
          <li><a href="" class="">Bill of Materials</a></li>
        </ul>
      </div>
      <div class="workspace">
        <div>
          <h1 class="">Item List</h1>
          <table>
            <% for (let item of items) { %>
            <tr>
              <td><h1><%= item._id%></h1></td>
              <td><h1><%= item.description%></h1></td>
              <td><h1><%= item.category%></h1></td>
              <td><h1><%= item.totalQtyOnHand%></h1></td>
              <td><h1><%= item.uom%></h1></td>
              <td><h1><%= item.avgCost%></h1></td>
              <td><h1><%= item.retailPrice%></h1></td>
              <td><a href="item/<%= item._id%>" class="button">view</a></td>
            </tr>
            <% } %>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
