<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <h1>This is an item page</h1>
    <div>
      <h1 class="">Item Profile</h1>
      <ul>
        <li>Item ID: <%= item._id%></li>
        <li>Item Description: <%= item.description%></li>
        <li>Item Category: <%= item.category%></li>
        <li>Item Total Quantity On Hand: <%= item.totalQtyOnHand%></li>
        <li>Item Unit of Measure: <%= item.uom%></li>
        <li>Item Average Cost: <%= item.avgCost%></li>
        <li>Item Retail Price: <%= item.retailPrice%></li>
      </ul>
    </div>
  </body>
</html>
