<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/purchaseOrder.css" />
    <link rel="stylesheet" href="/css/salesOrder.css" />
  </head>
  <body>
    <%- include('../includes/banner.ejs') %>

    <div id="main-menu">
      <%- include('../includes/navbar.ejs') %>
      <div id="sub-menu">
        <ul>
          <%- include('../includes/so-submenu.ejs') %>
        </ul>
      </div>
    </div>

    <div id="workspace">
      <form
        action="/so/createSalesOrder"
        method="POST"
        autocomplete="off"
        onsubmit="return sendTableData()"
      >
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div class="flex">
          <h1>Sales Order # <%= newSONumber %></h1>
          <input type="hidden" name="soNum" value="<%= newSONumber %>" />

          <button
              id="backwardsBtn"
              class="poArrowSearchBtnLeft"
              type="submit" formmethod="get"
              formaction="/so/previous/empty"
            >
              <svg height="20" width="20">
                <polygon
                  points="20,20 0,10 20,0"
                  style="
                    fill: rgb(87, 87, 87);
                    stroke: rgb(3, 3, 3);
                    stroke-width: 1;
                  "
                />
              </svg></button
          >

          <button
              id="forwardsBtn"
              class="poArrowSearchBtnRight"
              type="submit" formmethod="get"
              formaction="/so/next/empty"
            >
            <svg height="20" width="20">
              <polygon
                points="0,20 20,10 0,0"
                style="
                  fill: rgb(87, 87, 87);
                  stroke: rgb(3, 3, 3);
                  stroke-width: 1;
                "
              />
            </svg></button
          >

          <button class="poBtns" id="poSelectionBtn" type="button">
            Search
          </button>
          <!-- <select name="poSelection" id="poSelection" class="poBtns">
            <option value="ALL" selected>ALL</option>
            <option value="OPEN">OPEN</option>
            <option value="CLOSED">CLOSED</option>
          </select> -->
          <h1 class="poStatusText">Order Status: **NEW**</h1>
          <input type="hidden" name="poStatus" value="NEW" />
          <!-- this is where you would insert the flash message -->
        </div>
        <div id="vendorSelection">
          <label for="vendor">Customer:</label>
          <input
            type="text"
            name="customer"
            value="<%= customerList[0].name %>"
            size="30"
          />
          <button type="button" id="vendorSelectionBtn" tooltip="test">
            <i class="fas fa-user-tie"></i>
          </button>
          <div id="customerPoNum">
            <label for="customerPoNum">Customer PO # :</label>
          <input
            type="text"
            name="customerPoNum"
            size="10"
          />
          </div>
        </div>
        
        <div>
          <label for="orderDate">Order Date:</label>
          <input
            id="orderDateInput"
            class="poSelectFields"
            type="date"
            name="orderDate"
            size="8"
          />
          <label for="receivedDate">Ship Date:</label>
          <input
            id="expectedDateInput"
            class="poSelectFields"
            type="date"
            name="expectedDate"
            size="8"
          />
          <label for="shippingMethod">Shipping Method:</label>
          <select
            name="shippingMethod"
            id="shippingMethod"
            class="poSelectFields"
          >
            <% for (shippingMethod of shippingMethodList) { %>
            <option value="<%= shippingMethod.name %>">
              <%= shippingMethod.name %>
            </option>
            <% } %>
          </select>
          <label for="shipToLocation">Ship to Location:</label>
          <select
            name="shipToLocation"
            id="shipToLocation"
            class="poSelectFields"
          >
            <% for (warehouse of warehouseList) { %>
            <option value="<%= warehouse.name %>"><%= warehouse.name %></option>
            <% } %>
          </select>
          <label for="terms">Terms:</label>
          <select name="terms" id="terms" class="poSelectFields">
            <% for (paymentTerm of paymentTermList) { %>
            <option value="<%= paymentTerm.code %>">
              <%= paymentTerm.code %>
            </option>
            <% } %>
          </select>
          <h3>Created by: <%= createdBy %></h3>
          <input type="hidden" name="createdBy" value="<%= createdBy %>" />
        </div>

        <hr />
        <h1>Line Items</h1>
        <table id="poTableHeaders">
          <tr>
            <th class="poTableLineHeader">Line</th>
            <th class="poTableItemNum">Item Num</th>
            <th class="poTableDescription">Description</th>
            <th class="poTableQuantity">Quantity</th>
            <!-- <th class="poTableQuantity">Quantity Received</th> -->
            <th class="poTableUOM">UOM</th>
            <th class="poTableCost">Price</th>
            <th class="poTableExtended">Extended</th>
            <th class="poTableDeleteBtn"></th>
          </tr>
        </table>
        <div class="poLineScroll">
          <table id="poTable">
            <tr>
              <td class="poTableLine">
                <button id="poTableAddLineBtn" type="button">+</button>
              </td>
              <td class="poTableItemNum">
                <button id="itemSelectionBtn" type="button">
                  Item lookup (F1)
                </button>
              </td>
              <td class="poTableDescription"></td>
              <td class="poTableQuantity"></td>
              <!-- <td class="poTableQuantity"></td> -->
              <td class="poTableUOM"></td>
              <td class="poTableCost"></td>
              <td class="poTableExtended"></td>
              <td class="poTableDeleteBtn"></td>
            </tr>            
          </table>
          <input id="soTableData" type="hidden" name="soTableData" value="" />
        </div>
        <div class="flex poSumLabel">
          <h4>Subtotal:</h4>
          <h4 class="poSum">0</h4>
        </div>
        <div class="poActionBtns">
          <button id="soUpdateBtn">Save</button>
          <a href="/so/view"><button type="button">Cancel</button></a>
          <button type="button">Print</button>
        </div>
        
      </form>

      <!-- The vendorSearchModal -->
      <div id="vendorSelectionModal" class="vendorSearchModal">
        <!-- vendorSearchModal content -->
        <div class="vendorSearchModal-content">
          <span class="close">&times;</span>
          <h2 class="vendorSelectHeading">Select a Vendor</h2>
          <table id="vendorSelectionTable">
            <tr>
              <th>Customer Name</th>
            </tr>
            <% for (const customer of customerList) { %>
            <tr>
              <td><%= customer.name %></td>
              <td>
                <button id="vendorSelectBtn" onclick="selectVendor(this)">
                  Select
                </button>
              </td>
            </tr>
            <% } %>
          </table>
        </div>
      </div>

      <!-- The itemSearchModal -->
      <div id="itemSelectionModal" class="itemSearchModal">
        <!-- itemSearchModal content -->
        <div class="itemSearchModal-content">
          <span class="close">&times;</span>
          <h2 class="itemSelectHeading">Select an item</h2>
          <div class="itemSearchFilter">
            <h5>Filter:</h5>
            <select
              name="itemSearchFilterSelection"
              id="itemSearchFilterSelection"
            >
              <option value="itemID">Item ID</option>
              <option value="description">Description</option>
              <option value="category">Category</option>
              <option value="type">Type</option>
            </select>
            <select
              name="itemSearchFilterOperator"
              id="itemSearchFilterOperator"
            >
              <!-- <option value="equals">Equals</option> -->
              <option value="contains">Contains</option>
              <!-- <option value="excludes">Excludes</option> -->
            </select>
            <input
              type="text"
              id="itemSearchFilterValue"
              onkeyup="applyItemSelectionFilter()"
            />
            <!-- <button type="button" id="applyFilterBtn">Apply</button> -->
          </div>
          <table id="itemSelectionTable">
            <tr>
              <th>Item ID</th>
              <th>Description</th>
              <th>Category</th>
              <th>Type</th>
              <th>Qty Available</th>
            </tr>
            <% for (const item of itemList) { %>
            <tr>
              <td><%= item.itemID %></td>
              <td><%= item.description %></td>
              <td><%= item.category %></td>
              <td><%= item.type %></td>
              <td><%= item.totalQtyOnHand - item.qtyAllocated %></td>
              <td>
                <button id="itemSelectBtn" onclick="selectItem(this)">
                  Select
                </button>
              </td>
            </tr>
            <% } %>
          </table>
        </div>
      </div>

      <!-- The poSearchModal -->
      <div id="poSelectionModal" class="poSearchModal">
        <!-- poSearchModal content -->
        <div class="poSearchModal-content">
          <span class="close">&times;</span>
          <h2 class="poSelectHeading">Select a Sales Order</h2>
          <div class="poSearchFilter">
            <h5>Filter:</h5>
            <select name="poSearchFilterSelection" id="poSearchFilterSelection">
              <option value="orderDate">Order Date</option>
              <option value="receivedDate">Ship Date</option>
              <option value="poNum">SO Num</option>
              <option value="status">Status</option>
              <option value="vendor">Customer</option>
            </select>
            <select name="poSearchFilterOperator" id="poSearchFilterOperator">
              <!-- <option value="equals">Equals</option> -->
              <option value="contains">Contains</option>
              <!-- <option value="excludes">Excludes</option> -->
            </select>
            <input
              type="text"
              id="poSearchFilterValue"
              onkeyup="applyPOSelectionFilter()"
            />
            <!-- <button type="button" id="applyFilterBtn">Apply</button> -->
          </div>
          <table id="poSelectionTable">
            <tr>
              <th>Order Date</th>
              <th>Ship Date</th>
              <th>SO Num</th>
              <th>Status</th>
              <th>Customer</th>
            </tr>
            <% soList.forEach(function(so) { %>
            <tr>
              <td><%= so.orderDate.getMonth() %>/<%= so.orderDate.getDate() %>/<%= so.orderDate.getFullYear() %></td>
              <td><%= so.expectedDate.getMonth() %>/<%= so.expectedDate.getDate() %>/<%= so.expectedDate.getFullYear() %></td>
              <td><%= so.soNum %></td>
              <td><%= so.status %></td>
              <td><%= so.customerNum %></td>
              <td>
                <button id="poSelectBtn" onclick="selectSO(this)">
                  Select
                </button>
              </td>
            </tr>
            <% }) %>
          </table>
        </div>
      </div>
    </div>

    <script src="/js/salesOrder.js"></script>
    <script src="/js/salesOrderNewDate.js"></script> 
  </body>
</html>
