<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/purchaseOrder.css" />
    <link rel="stylesheet" href="/css/salesOrder.css" />
  </head>
  <body>
    <%- include('../includes/banner.ejs') %>

    <div id="main-menu">
      <%- include('../includes/navbar.ejs') %>
      <div id="sub-menu">
        <ul>
          <%- include('../includes/so-submenu.ejs') %>
        </ul>
      </div>
    </div>

    <div id="workspace">
      <form
        action="/so/update"
        method="POST"
        autocomplete="off"
        onsubmit="return sendTableData()"
      >
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div class="flex">
          <h1>Sales Order # <%= newSONumber %></h1>
          <input type="hidden" name="soNum" value="<%= newSONumber %>" />

          <button
              id="backwardsBtn"
              class="poArrowSearchBtnLeft"
              type="submit" formmethod="get"
              formaction="/so/previous/<%= soDetails.soNum%>"
            >
              <svg height="20" width="20">
                <polygon
                  points="20,20 0,10 20,0"
                  style="
                    fill: rgb(87, 87, 87);
                    stroke: rgb(3, 3, 3);
                    stroke-width: 1;
                  "
                />
              </svg></button
          >

          <button
              id="forwardsBtn"
              class="poArrowSearchBtnRight"
              type="submit" formmethod="get"
              formaction="/so/next/<%= soDetails.soNum%>"
            >
            <svg height="20" width="20">
              <polygon
                points="0,20 20,10 0,0"
                style="
                  fill: rgb(87, 87, 87);
                  stroke: rgb(3, 3, 3);
                  stroke-width: 1;
                "
              />
            </svg></button
          >

          <button class="poBtns" id="poSelectionBtn" type="button">
            Search
          </button>
          <!-- <select name="poSelection" id="poSelection" class="poBtns">
            <option value="ALL" selected>ALL</option>
            <option value="OPEN">OPEN</option>
            <option value="CLOSED">CLOSED</option>
          </select> -->
          <h1 class="poStatusText">Order Status: <%= soDetails.status %></h1>
          <input type="hidden" name="soStatus" value="<%= soDetails.status %>" />
          <% if (errorMessage) { %>
            <div class="user-message user-message--error "><%= errorMessage %></div>
            <% } %>
            <% if (message) { %>
              <div class="user-message"><%= message %></div>
              <% } %>
        </div>
        <div id="vendorSelection">
          <label for="vendor">Customer:</label>
          <% if (soDetails.status == "POSTED") { %>
            <input
            disabled
            type="text"
            name="customer"
            value="<%= soDetails.customerNum %>"
            size="30"
          />
            <% } else { %>
              <input
              type="text"
              name="customer"
              value="<%= soDetails.customerNum %>"
              size="30"
            />
            <button type="button" id="vendorSelectionBtn" tooltip="test">
              <i class="fas fa-user-tie"></i>
            </button>
             <% } %>          
          
          <div id="customerPoNum">
            <label for="customerPoNum">Customer PO # </label>
            <% if (soDetails.status == "POSTED") { %>
              <input
              disabled
            type="text"
            name="customerPoNum"
            size="10"
            value="<%= soDetails.customerPoNum %>"
          />
              <% } else { %>
                <input
            type="text"
            name="customerPoNum"
            size="10"
            value="<%= soDetails.customerPoNum %>"
          />
               <% } %>          
          </div>
        </div>
        
        <div>
          <label for="orderDate">Order Date:</label>
          <% if (soDetails.status == "POSTED") { %>
            <input
            disabled
            id="orderDateInput"
            class="poSelectFields"
            type="date"
            name="orderDate"
            size="8"
            value="<%= soOrderDate %>"
          />
            <% } else { %>
              <input
            id="orderDateInput"
            class="poSelectFields"
            type="date"
            name="orderDate"
            size="8"
            value="<%= soOrderDate %>"
          />
             <% } %>
          
          <label for="receivedDate">Ship Date:</label>
          <% if (soDetails.status == "POSTED") { %>
            <input
            disabled
            id="expectedDateInput"
            class="poSelectFields"
            type="date"
            name="expectedDate"
            size="8"
            value="<%= soExpectedDate %>"
          />
            <% } else { %>
              <input
            id="expectedDateInput"
            class="poSelectFields"
            type="date"
            name="expectedDate"
            size="8"
            value="<%= soExpectedDate %>"
          />
             <% } %>
          
          <label for="shippingMethod">Shipping Method:</label>
          <% if (soDetails.status == "POSTED") { %>
            <select
            disabled
            name="shippingMethod"
            id="shippingMethod"
            class="poSelectFields"
          >
            <% shippingMethodList.forEach(function(shippingMethod) { %> <% if
            (shippingMethod.name == soDetails.shippingMethod) { %>
            <option SELECTED value="<%= shippingMethod.name %>">
              <%= shippingMethod.name %>
            </option>
            <% } else { %>
            <option value="<%= shippingMethod.name %>">
              <%= shippingMethod.name %>
            </option>
            <% } %> <% }); %>
          </select>
            <% } else { %>
              <select
            name="shippingMethod"
            id="shippingMethod"
            class="poSelectFields"
          >
            <% shippingMethodList.forEach(function(shippingMethod) { %> <% if
            (shippingMethod.name == soDetails.shippingMethod) { %>
            <option SELECTED value="<%= shippingMethod.name %>">
              <%= shippingMethod.name %>
            </option>
            <% } else { %>
            <option value="<%= shippingMethod.name %>">
              <%= shippingMethod.name %>
            </option>
            <% } %> <% }); %>
          </select>
             <% } %>
          
          <label for="shipToLocation">Ship to Location:</label>
          <% if (soDetails.status == "POSTED") { %>
            <select
            disabled
            name="shipToLocation"
            id="shipToLocation"
            class="poSelectFields"
          >
            <% warehouseList.forEach(function(warehouse) { %> <% if
            (warehouse.name == soDetails.shipToLocation) { %>
            <option SELECTED value="<%= warehouse.name %>">
              <%= warehouse.name %>
            </option>
            <% } else { %>
            <option value="<%= warehouse.name %>"><%= warehouse.name %></option>
            <% } %> <% }); %>
          </select>
          
            <% } else { %>
              <select
            name="shipToLocation"
            id="shipToLocation"
            class="poSelectFields"
          >
            <% warehouseList.forEach(function(warehouse) { %> <% if
            (warehouse.name == soDetails.shipToLocation) { %>
            <option SELECTED value="<%= warehouse.name %>">
              <%= warehouse.name %>
            </option>
            <% } else { %>
            <option value="<%= warehouse.name %>"><%= warehouse.name %></option>
            <% } %> <% }); %>
          </select>
          <% } %>

          <label for="terms">Terms:</label>
          <% if (soDetails.status == "POSTED") { %>
            <select disabled name="terms" id="terms" class="poSelectFields">
              <% paymentTermList.forEach(function(paymentTerm) { %> <% if
              (paymentTerm.code == soDetails.terms) { %>
              <option SELECTED value="<%= paymentTerm.code %>">
                <%= paymentTerm.code %>
              </option>
              <% } else { %>
              <option value="<%= paymentTerm.code %>">
                <%= paymentTerm.code %>
              </option>
              <% } %> <% }); %>
            </select>
            <% } else { %>
              <select name="terms" id="terms" class="poSelectFields">
                <% paymentTermList.forEach(function(paymentTerm) { %> <% if
                (paymentTerm.code == soDetails.terms) { %>
                <option SELECTED value="<%= paymentTerm.code %>">
                  <%= paymentTerm.code %>
                </option>
                <% } else { %>
                <option value="<%= paymentTerm.code %>">
                  <%= paymentTerm.code %>
                </option>
                <% } %> <% }); %>
              </select>
             <% } %>
          
          <h3>Created by: <%= createdBy %></h3>
          <input type="hidden" name="createdBy" value="<%= createdBy %>" />
        </div>

        <hr />
        <h1>Line Items</h1>
        <table id="poTableHeaders">
          <tr>
            <th class="poTableLineHeader">Line</th>
            <th class="poTableItemNum">Item Num</th>
            <th class="poTableDescription">Description</th>
            <th class="poTableQuantity">Quantity</th>
            <!-- <th class="poTableQuantity">Quantity Received</th> -->
            <th class="poTableUOM">UOM</th>
            <th class="poTableCost">Price</th>
            <th class="poTableExtended">Extended</th>
            <th class="poTableDeleteBtn"></th>
          </tr>
        </table>
        <div class="poLineScroll">
          <table id="poTable">
            <tr>
              <td class="poTableLine">
                <button id="poTableAddLineBtn" type="button">+</button>
              </td>
              <td class="poTableItemNum">
                <button id="itemSelectionBtn" type="button">
                  Item lookup (F1)
                </button>
              </td>
              <td class="poTableDescription"></td>
              <td class="poTableQuantity"></td>
              <!-- <td class="poTableQuantity"></td> -->
              <td class="poTableUOM"></td>
              <td class="poTableCost"></td>
              <td class="poTableExtended"></td>
              <td class="poTableDeleteBtn"></td>
            </tr>
            <% soDetails.soTableData.forEach(function(line) { %>
              <tr>
                <td class="poTableLine"><%= line.line %></td>
                <td class="poTableItemNum poTableFocus" contenteditable="true">
                  <%= line.itemID %>
                </td>
                <td
                  class="poTableDescription poTableFocus"
                  contenteditable="true"
                >
                  <%= line.itemDescription %>
                </td>
                <td
                  class="poTableQuantity poTableFocus"
                  contenteditable="true"
                  onfocusout="poLineUpdateExtPrice(this)"
                >
                  <%= line.qtyOrdered %>
                </td>
                <td
                  class="poTableUOM poTableFocus"
                  onfocusout="poLineUpdateExtPrice(this)"
                >
                  <select>
                    <% uomList.forEach(function(uom) { %> <% if                    
                      (uom.name == line.uom) { %>
                      <option SELECTED value="<%= uom.name %>">
                        <%= uom.name %>
                      </option>
                      <% } else { %>
                      <option value="<%= uom.name %>">
                        <%= uom.name %>
                      </option>
                      <% } %> <% }); %>
                  </select>
                </td>
                <td
                  class="poTableCost poTableFocus"
                  contenteditable="true"
                  onfocusout="poLineUpdateExtPrice(this)"
                >
                  <%= line.price %>
                </td>
                <td class="poTableExtended">
                  <!-- <%= line.price * line.qtyOrdered %> -->
                  <% let linePrice2Dec = (line.price * line.qtyOrdered).toFixed(2); %>
                  <%= linePrice2Dec %>
                </td>
                <td class="poTableDeleteBtn">
                  <i
                    id="poLineDeleteBtn"
                    class="fas fa-minus-circle"
                    onclick="poLineDeleteBtn(this)"
                    aria-hidden="true"
                  ></i>
                </td>
              </tr>
              <% }); %>         
          </table>
          <input id="soTableData" type="hidden" name="soTableData" value="" />
        </div>
        <div class="flex poSumLabel">
          <% let soSumAmount = 0; soDetails.soTableData.forEach(function(line) {
          const lineTotal = +line.qtyOrdered * +line.price; soSumAmount =
          (+lineTotal + +soSumAmount).toFixed(2); }) %>
          <h4>Subtotal:</h4>
          <h4 class="poSum"><%= soSumAmount %></h4>
        </div> 
        <% if (soDetails.status == "POSTED") { %>
          <div class="poActionBtns">
            <a href="/so/new"><button type="button">New</button></a>
            <button disabled>Update</button>
            <button disabled>Delete</button>
            <a href="/so/printPDF/<%= newSONumber %>"><button type="button">Print</button></a>
            <a href="" method="GET"><button disabled type="button">Post SO</button></a>
          </div>
          </div>
          <% } else { %>
            <div class="poActionBtns">
              <a href="/so/new"><button type="button">New</button></a>
              <button id="poUpdateBtn">Update</button>
              <button formaction="/so/delete">Delete</button>
              <a href="/so/printPDF/<%= newSONumber %>"><button type="button">Print</button></a>
              <button formaction="/so/post">Post SO</button>
            </div>
            <% } %>       
        <input type="hidden" name="id" value="<%= soDetails._id %>" />
        
      </form>

      <!-- The CustomerSearchModal -->
      <div id="vendorSelectionModal" class="vendorSearchModal">
        <!-- vendorSearchModal content -->
        <div class="vendorSearchModal-content">
          <span class="close">&times;</span>
          <h2 class="vendorSelectHeading">Select a Vendor</h2>
          <table id="vendorSelectionTable">
            <tr>
              <th>Customer Name</th>
            </tr>
            <% for (const customer of customerList) { %>
            <tr>
              <td><%= customer.name %></td>
              <td>
                <button id="vendorSelectBtn" onclick="selectVendor(this)">
                  Select
                </button>
              </td>
            </tr>
            <% } %>
          </table>
        </div>
      </div>

      <!-- The itemSearchModal -->
      <div id="itemSelectionModal" class="itemSearchModal">
        <!-- itemSearchModal content -->
        <div class="itemSearchModal-content">
          <span class="close">&times;</span>
          <h2 class="itemSelectHeading">Select an item</h2>
          <div class="itemSearchFilter">
            <h5>Filter:</h5>
            <select
              name="itemSearchFilterSelection"
              id="itemSearchFilterSelection"
            >
              <option value="itemID">Item ID</option>
              <option value="description">Description</option>
              <option value="category">Category</option>
              <option value="type">Type</option>
            </select>
            <select
              name="itemSearchFilterOperator"
              id="itemSearchFilterOperator"
            >
              <!-- <option value="equals">Equals</option> -->
              <option value="contains">Contains</option>
              <!-- <option value="excludes">Excludes</option> -->
            </select>
            <input
              type="text"
              id="itemSearchFilterValue"
              onkeyup="applyItemSelectionFilter()"
            />
            <!-- <button type="button" id="applyFilterBtn">Apply</button> -->
          </div>
          <table id="itemSelectionTable">
            <tr>
              <th>Item ID</th>
              <th>Description</th>
              <th>Category</th>
              <th>Type</th>
              <th>Qty Available</th>
            </tr>
            <% for (const item of itemList) { %>
            <tr>
              <td><%= item.itemID %></td>
              <td><%= item.description %></td>
              <td><%= item.category %></td>
              <td><%= item.type %></td>
              <td><%= item.totalQtyOnHand - item.qtyAllocated %></td>
              <td>
                <button id="itemSelectBtn" onclick="selectItem(this)">
                  Select
                </button>
              </td>
            </tr>
            <% } %>
          </table>
        </div>
      </div>

      <!-- The poSearchModal -->
      <div id="poSelectionModal" class="poSearchModal">
        <!-- poSearchModal content -->
        <div class="poSearchModal-content">
          <span class="close">&times;</span>
          <h2 class="poSelectHeading">Select a Sales Order</h2>
          <div class="poSearchFilter">
            <h5>Filter:</h5>
            <select name="poSearchFilterSelection" id="poSearchFilterSelection">
              <option value="orderDate">Order Date</option>
              <option value="receivedDate">Ship Date</option>
              <option value="poNum">SO Num</option>
              <option value="status">Status</option>
              <option value="vendor">Customer</option>
            </select>
            <select name="poSearchFilterOperator" id="poSearchFilterOperator">
              <!-- <option value="equals">Equals</option> -->
              <option value="contains">Contains</option>
              <!-- <option value="excludes">Excludes</option> -->
            </select>
            <input
              type="text"
              id="poSearchFilterValue"
              onkeyup="applyPOSelectionFilter()"
            />
            <!-- <button type="button" id="applyFilterBtn">Apply</button> -->
          </div>
          <table id="poSelectionTable">
            <tr>
              <th>Order Date</th>
              <th>Ship Date</th>
              <th>SO Num</th>
              <th>Status</th>
              <th>Customer</th>
            </tr>
            <% soList.forEach(function(so) { %>
            <tr>
              <td><%= so.orderDate.getMonth() %>/<%= so.orderDate.getDate() %>/<%= so.orderDate.getFullYear() %></td>
              <td><%= so.expectedDate.getMonth() %>/<%= so.expectedDate.getDate() %>/<%= so.expectedDate.getFullYear() %></td>
              <td><%= so.soNum %></td>
              <td><%= so.status %></td>
              <td><%= so.customerNum %></td>
              <td>
                <button id="poSelectBtn" onclick="selectSO(this)">
                  Select
                </button>
              </td>
            </tr>
            <% }) %>
          </table>
        </div>
      </div>
    </div>

    <script src="/js/salesOrder.js"></script>
  </body>
</html>
