<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../includes/head.ejs') %>
    
    <link rel="stylesheet" href="/css/purchaseOrder.css" />
  </head>
  <body>
    <%- include('../../includes/banner.ejs') %>
    <div id="main-menu">
      <%- include('../../includes/navbar.ejs') %>
      <div id="sub-menu">
        <ul>
          <%- include('../../includes/items-submenu.ejs') %>
        </ul>
      </div>
    </div>
    <div id="workspace">
      <div id="toolbar" class="inventory-toolbar">
        <h1 class="inventory-toolbar-items">Add New Item</h1>
        <form
          action="/inventory/previousItem/empty"
          method="GET"
          class="inventory-toolbar-items"
        >
          <button id="backwardsBtn" type="submit">
            <svg height="20" width="20">
              <polygon
                points="20,20 0,10 20,0"
                style="
                  fill: rgb(87, 87, 87);
                  stroke: rgb(3, 3, 3);
                  stroke-width: 1;
                "
              />
            </svg>
          </button>
        </form>
        <form
          action="/inventory/nextItem/empty"
          method="GET"
          class="inventory-toolbar-items"
        >
          <button id="forwardsBtn" type="submit">
            <svg height="20" width="20">
              <polygon
                points="0,20 20,10 0,0"
                style="
                  fill: rgb(87, 87, 87);
                  stroke: rgb(3, 3, 3);
                  stroke-width: 1;
                "
              />
            </svg>
          </button>
        </form>
      </div>
      <% if (errorMessage) { %>
        <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
      <form action="/inventory/add-item" method="POST" autocomplete="off">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div class="item-field">
          <label for="itemID">Item ID:</label>
          <input
            type="text"
            name="itemID"
            value="<%= newItemID %>"
            class="green-background"
          />
          <button id="itemSelectionBtn" type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
        <div class="item-field">
          <label for="itemStatus">Item Status:</label>
          <select id="itemStatus" name="itemStatus" class="green-background">
            <option value="ACTIVE">ACTIVE</option>
            <option value="INACTIVE">INACTIVE</option>
          </select>
        </div>
        <div class="item-field">
          <label for="description">Description:</label>
          <input
            type="text"
            name="description"
            size="30"
            maxlength="30"
            class="green-background"
            value="<%= oldInput.description %>"
          />
        </div>
        <div class="item-field">
          <label for="category">Category:</label>
          <select id="category" name="category" class="green-background">
            <% for (category of categoryList) { %>
              <option value=<%= category.name %>><%= category.name %></option>
            <% } %>
          </select>
        </div>
        <div class="item-field">
          <label for="valuationMethod">Valuation Method:</label>
          <select
            id="valuationMethod"
            name="valuationMethod"
            class="green-background"
          >
            <option value="Average Cost">AVERAGE</option>
            <option value="FIFO">FIFO</option>
            <option value="Lot">LOT</option>
          </select>
        </div>
        <div class="item-field">
          <label for="type">Type:</label>
          <select id="type" name="type" class="green-background">
            <option value="Finished Good">FINISHED GOOD</option>
            <option value="Raw Material">RAW MATERIAL</option>
            <option value="Service">SERVICE</option>
          </select>
        </div>
        <div class="item-field">
          <label for="defaultWarehouse">Default Warehouse:</label>
          <select id="defaultWarehouse" name="defaultWarehouse" class="green-background">
            <% for (warehouse of warehouseList) { %>
              <option value=<%= warehouse.name %>><%= warehouse.name %></option>
            <% } %>
          </select>
        </div>
        <hr />
        <h6>Unit of Measure</h6>
        <div class="item-field">
          <label for="baseUOM">Base UOM:</label>          
          <select name="baseUOM" id="baseUOM" class="green-background">
            <% for (uom of uomList) { %>
              <option value=<%= uom.name %>><%= uom.name %></option>
            <% } %>
          </select>
        </div>
        <div class="item-field">
          <label for="salesUOM">Sales UOM:</label>
          <select name="salesUOM" id="salesUOM" class="green-background">
            <% for (uom of uomList) { %>
              <option value=<%= uom.name %>><%= uom.name %></option>
            <% } %>
          </select>
        </div>
        <div class="item-field">
          <label for="purchaseUOM">Purchase UOM:</label>
          <select name="purchaseUOM" id="purchaseUOM" class="green-background">
            <% for (uom of uomList) { %>
              <option value=<%= uom.name %>><%= uom.name %></option>
            <% } %>
          </select>
        </div>
        <hr />
        <h6>Pricing</h6>
        <div class="item-field">
          <label for="defaultPrice">Default Price (Base UOM): $</label>
          <input
            type="number"
            name="defaultPrice"
            step="0.01"
            min="0"
            max="99999"
            class="green-background"
            value="<%= oldInput.defaultPrice %>"
          />
        </div>
        <hr />
        <input type="submit" value="Save" />
      </form>
    </div>

    <!-- The itemSearchModal -->
    <div id="itemSelectionModal" class="itemSearchModal">
      <!-- itemSearchModal content -->
      <div class="itemSearchModal-content itemSearchModal-content2">
        <!-- <span class="close">&times;</span> -->
        <h2 class="itemSelectHeading">Select an item</h2>
        <div class="itemSearchFilter">
          <h5>Filter:</h5>
          <select
            name="itemSearchFilterSelection"
            id="itemSearchFilterSelection"
          >
            <option value="itemID">Item ID</option>
            <option value="itemID">Status</option>
            <option value="description">Description</option>
            <option value="category">Category</option>
            <option value="type">Type</option>
            <option value="type">Qty On Hand</option>
            <option value="type">Qty On Order</option>
            <option value="type">Qty Allocated</option>
            <option value="type">Qty Available</option>
          </select>
          <select
            name="itemSearchFilterOperator"
            id="itemSearchFilterOperator"
          >
            <!-- <option value="equals">Equals</option> -->
            <option value="contains">Contains</option>
            <!-- <option value="excludes">Excludes</option> -->
          </select>
          <input
            type="text"
            id="itemSearchFilterValue"
            onkeyup="applyItemSelectionFilter()"
          />
          <!-- <button type="button" id="applyFilterBtn">Apply</button> -->
        </div>
        <table id="itemSelectionTable">
          <tr>
            <th>Item ID</th>
            <th>Status</th>
            <th>Description</th>
            <th>Category</th>
            <th>Type</th>
            <th>Qty On Hand</th>
            <th>Qty On Order</th>
            <th>Qty Allocated</th>
            <th>Qty Available</th>
          </tr>
          <% for (const item of itemList) { %>
          <tr>
            <td><%= item.itemID %></td>
            <td><%= item.itemStatus %></td>
            <td><%= item.description %></td>
            <td><%= item.category %></td>
            <td><%= item.type %></td>
            <td><%= item.totalQtyOnHand %></td>
            <td><%= item.qtyOnOrder %></td>
            <td><%= item.qtyAllocated %></td>
            <td><%= item.totalQtyOnHand - item.qtyAllocated %></td>
            <td>              
              <a href="../inventory/item/<%= item._id%>"><button type="button">Select</button></a>                
              </button>
            </td>
          </tr>
          <% } %>
        </table>
      </div>
    </div>

    <script src="/js/item.js"></script>
    <script src="/js/itemSearchMenu.js"></script>

  </body>
</html>
