<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../../includes/banner.ejs') %>
    <div id="main-menu">
      <%- include('../../includes/navbar.ejs') %>
      <div id="sub-menu">
        <ul>
          <%- include('../../includes/items-submenu.ejs') %>
        </ul>
      </div>
    </div>
    <div id="workspace">
      <div id="toolbar" class="inventory-toolbar centered">
        <h1>Category Setup</h1>
      </div>
      <div class="flex">
        <div class="inventory-setup--leftCol">
          <h1>Add New Category</h1>
          <form
            action="/inventory/category/addCategory"
            method="POST"
            autocomplete="off"
            id="categoryID-lookup"
          >
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="item-field">
              <label for="categoryID">Category ID:</label>
              <input type="text" name="categoryID" value="" />
            </div>
            <div class="item-field">
              <label for="categoryName">Category Name:</label>
              <input id="categoryName" name="categoryName" />
            </div>
            <input type="submit" value="Save" />
          </form>

          <h1>Edit Category</h1>
        <form
          action="/inventory/category/editCategory"
          method="POST"
          autocomplete="off"
          id="editCategory"
        >
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="item-field">
            <label for="editCategoryID">Category ID:</label>
            <input type="text" name="editCategoryID" value="" />
          </div>
          <div class="item-field">
            <label for="editCategoryName">Category Name:</label>
            <input id="editCategoryName" name="editCategoryName" />
          </div>
          <input type="submit" value="Update Changes" />
        </form>

        </div>

        <div class="inventory-setup--rightCol">
          <h1>Category List</h1>
          <div class="inventory-setup--rightCol-overflow">
            <table>
              <tr>
                <th>ID</th>
                <th>Name</th>
              </tr>
              <% for (category of categoryList) { %>
              <tr>
                <td><%= category.ID %></td>
                <td><%= category.name %></td>
                <td>
                  <form action="/inventory/category-delete" method="POST">
                    <input
                      type="hidden"
                      value="<%= category.ID %>"
                      name="categoryID"
                    />
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <button class="btn" type="submit">Delete</button>
                  </form>
                </td>
              </tr>
              <% } %>
            </table>
          </div>          
        </div>
      </div>
    </div>
  </body>
</html>
