<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../../includes/banner.ejs') %>
    <div id="main-menu">
      <div id="navbar">
        <ul>
          <li><a href="/" class="">Dashboard</a></li>
          <li><a href="/so" class="">Sales Orders</a></li>
          <li><a href="/po" class="">Purchase Orders</a></li>
          <li><a href="/inventory" class="active">Inventory</a></li>
          <li><a href="/reports" class="">Reports</a></li>
          <li><a href="/sysconfig" class="">System Config</a></li>
        </ul>
      </div>
      <div id="sub-menu">
        <ul>
          <%- include('../../includes/items-submenu.ejs') %>
        </ul>
      </div>
    </div>
    <div id="workspace">
      <div id="toolbar" class="inventory-toolbar">
        <h1 class="inventory-toolbar-items">Item Maintenance</h1>
        <form
          action="/inventory/previousItem/<%= item.itemID%>"
          method="GET"
          class="inventory-toolbar-items"
        >
          <button id="backwardsBtn" type="submit">
            <svg height="20" width="20">
              <polygon
                points="20,20 0,10 20,0"
                style="
                  fill: rgb(87, 87, 87);
                  stroke: rgb(3, 3, 3);
                  stroke-width: 1;
                "
              />
            </svg>
          </button>
        </form>
        <form
          action="/inventory/nextItem/<%= item.itemID%>"
          method="GET"
          class="inventory-toolbar-items"
        >
          <button id="forwardsBtn" type="submit">
            <svg height="20" width="20">
              <polygon
                points="0,20 20,10 0,0"
                style="
                  fill: rgb(87, 87, 87);
                  stroke: rgb(3, 3, 3);
                  stroke-width: 1;
                "
              />
            </svg>
          </button>
        </form>
      </div>
      <% if (message) { %>
      <div class="user-message">
        <%= message %>
      </div>
      <% } %>
      <form action="/inventory/update-item" method="POST" autocomplete="off">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div class="item-field">
          <input type="hidden" name="_id" value="<%= item._id %>" />
        </div>
        <div class="item-field">
          <input type="hidden" name="userId" value="<%= item.userId %>" />
        </div>
        <div class="item-field">
          <label for="itemID">Item ID:</label>
          <input
            readonly
            type="text"
            name="itemID"
            value="<%= item.itemID %>"
          />
          <a href="/inventory/items">
            <button id="searchBtn" type="button">
              <i class="fas fa-search"></i>
            </button>
          </a>
        </div>
        <div class="item-field">
          <label for="itemStatus">Item Status:</label>
          <select id="itemStatus" name="itemStatus">
            <% if (item.itemStatus === "ACTIVE") { %>
            <option value="ACTIVE" selected>ACTIVE</option>
            <option value="INACTIVE">INACTIVE</option>
            <% } else { %>
            <option value="ACTIVE">ACTIVE</option>
            <option value="INACTIVE" selected>INACTIVE</option>
            <% } %>
          </select>
        </div>
        <div class="item-field">
          <label for="description">Description:</label>
          <input
            type="text"
            name="description"
            value="<%= item.description %>"
            size="30"
            maxlength="30"
          />
        </div>
        <div class="item-field">
          <label for="category">Category:</label>
          <select name="category" id="category">            
            <% categoryList.forEach(function(category) { %>
              <option 
              value=<%= category.name %>
              <% if (category.name == item.category) { %>
                SELECTED
                <% } %>
              ><%= category.name %></option>
          <% }); %>
          </select>
        </div>
        <div class="item-field">
          <label for="valuationMethod">Valuation Method:</label>
          <select id="valuationMethod" name="valuationMethod">
            <% if (item.totalQtyOnHand == 0) { %> <% if (item.valuationMethod
            === "AVG") { %>
            <option value="AVG" selected>AVERAGE</option>
            <option value="FIFO">FIFO</option>
            <option value="LOT">LOT</option>
            <% } else if (item.valuationMethod === "FIFO") { %>
            <option value="AVG">AVERAGE</option>
            <option value="FIFO" selected>FIFO</option>
            <option value="LOT">LOT</option>
            <% } else { %>
            <option value="AVG">AVERAGE</option>
            <option value="FIFO">FIFO</option>
            <option value="LOT" seleceted>LOT</option>
            <% } %> <% } else { %> <% if (item.valuationMethod === "AVG") { %>
            <option value="AVG" selected>AVERAGE</option>
            <option value="FIFO" disabled>FIFO</option>
            <option value="LOT" disabled>LOT</option>
            <% } else if (item.valuationMethod === "FIFO") { %>
            <option value="AVG" disabled>AVERAGE</option>
            <option value="FIFO" selected>FIFO</option>
            <option value="LOT" disabled>LOT</option>
            <% } else { %>
            <option value="AVG" disabled>AVERAGE</option>
            <option value="FIFO" disabled>FIFO</option>
            <option value="LOT" seleceted>LOT</option>
            <% } %> <% } %>
          </select>
        </div>
        <div class="item-field">
          <label for="type">Type:</label>
          <select id="type" name="type">
            <% if (item.type === "FINISHED GOOD") { %>
            <option value="FINISHED GOOD" selected>FINISHED GOOD</option>
            <option value="RAW MATERIAL">RAW MATERIAL</option>
            <option value="SERVICE">SERVICE</option>
            <% } else if (item.type === "RAW MATERIAL") { %>
            <option value="FINISHED GOOD">FINISHED GOOD</option>
            <option value="RAW MATERIAL" selected>RAW MATERIAL</option>
            <option value="SERVICE">SERVICE</option>
            <% } else { %>
            <option value="FINISHED GOOD">FINISHED GOOD</option>
            <option value="RAW MATERIAL">RAW MATERIAL</option>
            <option value="SERVICE" selected>SERVICE</option>
            <% } %>
          </select>
        </div>
        <div class="item-field">
          <label for="defaultWarehouse">Default Warehouse:</label>
          <select id="defaultWarehouse" name="defaultWarehouse">
            <% for (warehouse of warehouseList) { %>
            <option value=<%= warehouse.name %>><%= warehouse.name %>
            </option>
            <% } %>
          </select>
        </div>
        <hr />
        <h6>Unit of Measure</h6>
        <div class="item-field">
          <label for="totalQtyOnHand">Total Qty On Hand:</label>
          <input
            readonly
            type="text"
            name="totalQtyOnHand"
            value="<%= item.totalQtyOnHand %>"
            size="6"
            maxlength="6"
          />
        </div>
        <div class="item-field">
          <label for="qtyOnOrder">Qty On Order:</label>
          <input
            readonly
            type="text"
            name="qtyOnOrder"
            value="<%= item.qtyOnOrder %>"
            size="6"
            maxlength="6"
          />
        </div>
        <div class="item-field">
          <label for="qtyAllocated">Qty Allocated:</label>
          <input
            readonly
            type="text"
            name="qtyAllocated"
            value="<%= item.qtyAllocated %>"
            size="6"
            maxlength="6"
          />
        </div>
        <div class="item-field">
          <label for="baseUOM">Base UOM:</label>          
          <select name="baseUOM" id="baseUOM">            
            <% uomList.forEach(function(uom) { %>
              <option 
              value=<%= uom.name %>
              <% if (uom.name == item.baseUOM) { %>
                SELECTED
                <% } %>
              ><%= uom.name %></option>
          <% }); %>
          </select>
        </div>
        <div class="item-field">
          <label for="salesUOM">Sales UOM:</label>          
          <select name="salesUOM" id="salesUOM">            
            <% uomList.forEach(function(uom) { %>
              <option 
              value=<%= uom.name %>
              <% if (uom.name == item.salesUOM) { %>
                SELECTED
                <% } %>
              ><%= uom.name %></option>
          <% }); %>
          </select>
        </div>
        <div class="item-field">
          <label for="purchaseUOM">Purchase UOM:</label>
          <select name="purchaseUOM" id="purchaseUOM">            
            <% uomList.forEach(function(uom) { %>
              <option 
              value=<%= uom.name %>
              <% if (uom.name == item.purchaseUOM) { %>
                SELECTED
                <% } %>
              ><%= uom.name %></option>
          <% }); %>
          </select>
        </div>
        <hr />
        <h6>Pricing</h6>
        <div class="item-field">
          <label for="defaultPrice">Default Price (Base UOM): $</label>
          <input
            type="number"
            name="defaultPrice"
            value="<%= item.defaultPrice %>"
            step="0.01"
            min="0"
            max="99999"
            onchange="updateEditedFields"
          />
        </div>
        <hr />
        <input type="submit" value="Update" id="updateBtn" />
      </form>
      <a href="../item/<%= item._id%>"><button>Cancel</button></a>
    </div>
  </body>
</html>
