<%- include('../../includes/head.ejs') %>
  </head>
  <body>
    <div id="banner">
      <div class="product-info-area">
        <h1 class="product-info-text">[O] Inventory Solutions</h1>
      </div>
      <div class="user-login-info-area">
        <h3 class="user-login-info-text show-whitespace">Logged in as DUMMY USER, DUMMY COMPANY NAME,  <a href="#" class="user-login-info__log-out-btn">Log Out</a></h6>
      </div>
    </div>
    <div id="main-menu">
      <div id="navbar">
        <ul>    
          <li><a href="/" class="">Dashboard</a></li>      
          <li><a href="/so" class="">Sales Orders</a></li>
          <li><a href="/po" class="">Purchase Orders</a></li>
          <li><a href="/inventory" class="active">Inventory</a></li>
          <li><a href="/reports" class="">Reports</a></li>
          <li><a href="/sysconfig" class="">System Config</a></li>
        </ul>
      </div>
      <div id="sub-menu">
        <ul>          
          <%- include('../../includes/items-submenu.ejs') %>
        </ul>
      </div>
    </div>
      <div class="workspace">
        <div>
          <h1 class="">Item List</h1>
          <table>
            <% for (let item of items) { %>
            <tr>
              <td><h1><%= item._id%></h1></td>
              <td><h1><%= item.description%></h1></td>
              <td><h1><%= item.category%></h1></td>
              <td><h1><%= item.totalQtyOnHand%></h1></td>
              <td><h1><%= item.uom%></h1></td>
              <td><h1><%= item.avgCost%></h1></td>
              <td><h1><%= item.retailPrice%></h1></td>
              <td><a href="item/<%= item._id%>" class="button">view</a></td>
            </tr>
            <% } %>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
