<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../../includes/banner.ejs') %>
    <div id="main-menu">
      <%- include('../../includes/navbar.ejs') %>
      <div id="sub-menu">
        <ul>
          <%- include('../../includes/items-submenu.ejs') %>
        </ul>
      </div>
    </div>
    <div class="workspace">
      <div>
        <h1 class="centered-text">Item List</h1>
        <table class="items-table">
          <tr>
            <th>Item ID</th>
            <th>Description</th>
            <th>Status</th>
            <th>Category</th>
            <th>Type</th>
            <th>Default Warehouse</th>
            <th>Base UOM</th>
            <th>Sales UOM</th>
            <th>Purchase UOM</th>
            <th>Default Price</th>
            <th>Qty on Hand</th>
          </tr>
          <% for (let item of items) { %>
          <tr>
            <td><h5><%= item.itemID%></h5></td>
            <td><h5><%= item.itemStatus%></h5></td>
            <td><h5><%= item.description%></h5></td>
            <td><h5><%= item.category%></h5></td>
            <td><h5><%= item.type%></h5></td>
            <td><h5><%= item.defaultWarehouse%></h5></td>
            <td><h5><%= item.baseUOM%></h5></td>
            <td><h5><%= item.salesUOM%></h5></td>
            <td><h5><%= item.purchaseUOM%></h5></td>
            <td><h5><%= item.defaultPrice%></h5></td>
            <td><h5><%= item.totalQtyOnHand%></h5></td>
            <td><a href="item/<%= item._id%>" class="button">view</a></td>
          </tr>
          <% } %>
        </table>
      </div>
    </div>
  </body>
</html>
