<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/viewMessage.ejs') %>
    <%- include('../../includes/banner.ejs') %>
    <div id="main-menu">
      <%- include('../../includes/navbar.ejs') %>
      <div id="sub-menu">
        <ul>
          <%- include('../../includes/items-submenu.ejs') %>
        </ul>
      </div>
    </div>
    <div id="workspace">
      <div id="toolbar" class="inventory-toolbar centered">
        <h1>Unit of Measture Setup</h1>
      </div>
      <div class="flex">
        <div class="inventory-setup--leftCol">
          <h1>Add New Unit of Measure</h1>
          <form
            action="/inventory/uom/addUOM"
            method="POST"
            autocomplete="off"
            id="uomID-lookup"
          >
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="item-field">
              <label for="uomID">UOM ID:</label>
              <input type="text" name="uomID" value="" />
            </div>
            <div class="item-field">
              <label for="uomName">UOM Name:</label>
              <input id="uomName" name="uomName" />
            </div>
            <div class="item-field">
              <label for="conversionQty">Conversion Qty:</label>
              <input
                type="number"
                name="conversionQty"
                value=""
                size="10"
                maxlength="10"
              />
            </div>
            <input type="submit" value="Save" />
          </form>
        </div>

        <div class="inventory-setup--rightCol">
          <h1>UOM List</h1>
          <table>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Conversion Qty</th>
            </tr>
            <% for (uom of UOMList) { %>
            <tr>
              <td><%= uom.ID %></td>
              <td><%= uom.name %></td>
              <td><%= uom.conversionQty %></td>
              <td>
                <form action="/inventory/uom-delete" method="POST">
                  <input
                    type="hidden"
                    value="<%= uom.ID %>"
                    name="uomID"
                  />
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                  <button class="btn" type="submit">Delete</button>
                </form>
              </td>
            </tr>
            <% } %>
          </table>
        </div>
      </div>
      <div class="inventory-setup--leftCol">
        <h1>Edit UOM</h1>
        <form
          action="/inventory/uom/editUOM"
          method="POST"
          autocomplete="off"
          id="editUOM"
        >
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="item-field">
            <label for="editUOMID">UOM ID:</label>
            <input type="text" name="editUOMID" value="" />
          </div>
          <div class="item-field">
            <label for="editUOMName">UOM Name:</label>
            <input id="editUOMName" name="editUOMName" />
          </div>
          <div class="item-field">
            <label for="editConversionQty">Conversion Qty:</label>
            <input
                type="number"
                name="editConversionQty"
                value=""
                size="10"
                maxlength="10"
              />
          </div>
          <input type="submit" value="Update Changes" />
        </form>
      </div>
    </div>
  </body>
</html>
