<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../../includes/banner.ejs') %>
    <div id="main-menu">
      <%- include('../../includes/navbar.ejs') %>
      <div id="sub-menu">
        <ul>
          <%- include('../../includes/items-submenu.ejs') %>
        </ul>
      </div>
    </div>
    <div id="workspace">
      <div id="toolbar" class="inventory-toolbar centered">
        <h1>Warehouse Setup</h1>
      </div>
      <div class="flex">
        <div class="inventory-setup--leftCol">
          <h1>Add New Warehouse</h1>
          <form
            action="/inventory/warehouse/addWarehouse"
            method="POST"
            autocomplete="off"
            id="warehouseID-lookup"
          >
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="item-field">
              <label for="warehouseID">Warehouse ID:</label>
              <input type="text" name="warehouseID" value="" />
            </div>
            <div class="item-field">
              <label for="warehouseName">Warehouse Name:</label>
              <input id="warehouseName" name="warehouseName" />
            </div>
            <div class="item-field">
              <label for="address">Address:</label>
              <input
                type="text"
                name="address"
                value=""
                size="60"
                maxlength="60"
              />
            </div>
            <input type="submit" value="Save" />
          </form>
        </div>

        <div class="inventory-setup--rightCol">
          <h1>Warehouse List</h1>
          <table>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Address</th>
            </tr>
            <% for (warehouse of warehouseList) { %>
            <tr>
              <td><%= warehouse.ID %></td>
              <td><%= warehouse.name %></td>
              <td><%= warehouse.address %></td>
              <td>
                <form action="/inventory/warehouse-delete" method="POST">
                  <input
                    type="hidden"
                    value="<%= warehouse.ID %>"
                    name="warehouseID"
                  />
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                  <button class="btn" type="submit">Delete</button>
                </form>
              </td>
            </tr>
            <% } %>
          </table>
        </div>
      </div>
      <div class="inventory-setup--leftCol">
        <h1>Edit Warehouse</h1>
        <form
          action="/inventory/warehouse/editWarehouse"
          method="POST"
          autocomplete="off"
          id="editWarehouse"
        >
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="item-field">
            <label for="editWarehouseID">Warehouse ID:</label>
            <input type="text" name="editWarehouseID" value="" />
          </div>
          <div class="item-field">
            <label for="editWarehouseName">Warehouse Name:</label>
            <input id="editWarehouseName" name="editWarehouseName" />
          </div>
          <div class="item-field">
            <label for="editAddress">Address:</label>
            <input
              type="text"
              name="editAddress"
              value=""
              size="60"
              maxlength="60"
            />
          </div>
          <input type="submit" value="Update Changes" />
        </form>
      </div>
    </div>
  </body>
</html>
