<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/purchaseOrder.css" />
  </head>
  <body>
    <%- include('../includes/banner.ejs') %>
    <div id="main-menu">
      <div id="navbar">
        <ul>
          <li><a href="/" class="">Dashboard</a></li>
          <li><a href="/so" class="">Sales Orders</a></li>
          <li><a href="/po" class="active">Purchase Orders</a></li>
          <li><a href="/inventory/item-maintenance" class="">Inventory</a></li>
          <li><a href="/reports" class="">Reports</a></li>
          <li><a href="/sysconfig" class="">System Config</a></li>
        </ul>
      </div>
      <div id="sub-menu">
        <ul>
          <%- include('../includes/po-submenu.ejs') %>
        </ul>
      </div>
    </div>

    <div id="workspace">
      <form
        action=""
        method="POST"
        autocomplete="off"
        onsubmit="return sendTableData()"
      >
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div class="flex">
          <h1>Order # <% %></h1>
          <input type="hidden" name="orderNum" value="2" />

          <a href="/inventory/po/previousItem/"
            ><button
              id="backwardsBtn"
              type="submit"
              class="poArrowSearchBtnLeft"
            >
              <svg height="20" width="20">
                <polygon
                  points="20,20 0,10 20,0"
                  style="
                    fill: rgb(87, 87, 87);
                    stroke: rgb(3, 3, 3);
                    stroke-width: 1;
                  "
                />
              </svg></button
          ></a>

          <a href="/inventory/nextItem/"
            ><button
              id="forwardsBtn"
              type="submit"
              class="poArrowSearchBtnRight"
            >
              <svg height="20" width="20">
                <polygon
                  points="0,20 20,10 0,0"
                  style="
                    fill: rgb(87, 87, 87);
                    stroke: rgb(3, 3, 3);
                    stroke-width: 1;
                  "
                />
              </svg>
            </button>
          </a>

          <button class="poBtns" id="poSelectionBtn" type="button">
            Search
          </button>
          <select name="poSelection" id="poSelection" class="poBtns">
            <option value="ALL" selected>ALL</option>
            <option value="OPEN">OPEN</option>
            <option value="CLOSED">CLOSED</option>
          </select>
          <h1 id="poStatus" class="poStatusText">PO Status:</h1>
        </div>
        <div id="vendorSelection">
          <label for="vendor">Vendor:</label>
          <input disabled type="text" name="vendor" value="" size="30" />
        </div>
        <div>
          <label for="orderDate">Order Date:</label>
          <input
            disabled
            id="orderDateInput"
            class="poSelectFields"
            type="date"
            name="orderDate"
            size="8"
          />
          <label for="expectedDate">Expected Date:</label>
          <input
            disabled
            id="expectedDateInput"
            class="poSelectFields"
            type="date"
            name="expectedDate"
            size="8"
          />
          <label for="shippingMethod">Shipping Method:</label>
          <select
            disabled
            name="shippingMethod"
            id="shippingMethod"
            class="poSelectFields"
          >
          <option value="default">Default</option>
          </select>
          <label for="shipToLocation">Ship to Loation:</label>
          <select
            disabled
            name="shipToLocation"
            id="shipToLocation"
            class="poSelectFields"
          >
          <option value="default">Default</option>
          </select>
          <label for="terms">Terms:</label>
          <select disabled name="terms" id="terms" class="poSelectFields">
            <option value="default">Default</option>
          </select>
          <h3>Submitted by:</h3>
          <input
            type="hidden"
            name="createdBy"
            value="userName"
            class="poSelectFields"
          />
        </div>
        <hr />
        <h1>Line Items</h1>
        <div>
          <table id="poTable">
            <tr>
              <th class="poTableLine">Line</th>
              <th class="poTableItemNum">Item Num</th>
              <th class="poTableDescription">Description</th>
              <th class="poTableQuantity">Quantity</th>
              <th class="poTableUOM">UOM</th>
              <th class="poTableCost">Cost</th>
              <th class="poTableExtended">Extended</th>
              <th class="poTableDeleteBtn"></th>
            </tr>
            <tr>
              <td class="poTableLine">
                <button id="poTableAddLineBtn" type="button" disabled>+</button>
              </td>
              <td class="poTableItemNum"></td>
              <td class="poTableDescription"></td>
              <td class="poTableQuantity"></td>
              <td class="poTableUOM"></td>
              <td class="poTableCost"></td>
              <td class="poTableExtended"></td>
              <td class="poTableDeleteBtn"></td>
            </tr>
          </table>
          <input id="poTableData" type="hidden" name="poTableData" value="" />
          <div class="flex poSumLabel">
            <h4>Subtotal:</h4>
            <h4 class="poSum">0</h4>
          </div>
        </div>
      </form>

      <!-- The poSearchModal -->
      <div id="poSelectionModal" class="poSearchModal">
        <!-- poSearchModal content -->
        <div class="poSearchModal-content">
          <span class="close">&times;</span>
          <h2 class="poSelectHeading">Select a Purchase Order</h2>
          <div class="poSearchFilter">
            <h5>Filter:</h5>
            <select name="poSearchFilterSelection" id="poSearchFilterSelection">
              <option value="orderDate">Order Date</option>
              <option value="expectedDate">Expected Date</option>
              <option value="poNum">PO Num</option>
              <option value="vendor">Vendor</option>
            </select>
            <select name="poSearchFilterOperator" id="poSearchFilterOperator">
              <!-- <option value="equals">Equals</option> -->
              <option value="contains">Contains</option>
              <!-- <option value="excludes">Excludes</option> -->
            </select>
            <input
              type="text"
              id="poSearchFilterValue"
              onkeyup="applyPOSelectionFilter()"
            />
            <!-- <button type="button" id="applyFilterBtn">Apply</button> -->
          </div>
          <table id="poSelectionTable">
            <tr>
              <th>Order Date</th>
              <th>Expected Date</th>
              <th>PO Num</th>
              <th>Vendor</th>
            </tr>
            <% poList.forEach(function(po) { %>
            <tr>
              <td><%= po.orderDate %></td>
              <td><%= po.expectedDate %></td>
              <td><%= po.poNum %></td>
              <td><%= po.vendorNum %></td>
              <td>
                <button id="poSelectBtn" onclick="selectPo(this)">
                  Select
                </button>
              </td>
            </tr>
            <% }) %>
          </table>
        </div>
      </div>
    </div>
    <div class="poActionBtns">
      <a href="/po/new"><button>New</button></a>
      <button>Delete</button>
      <button>Print PO</button>
      <button>Print Receiver</button>
      <button>Receive PO</button>
    </div>

    <script src="/js/purchaseOrder.js"></script>    
    <script src="/js/purchaseOrderNewDate.js"></script>
  </body>
</html>
