<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/purchaseOrder.css" />
  </head>
  <body>
    <%- include('../includes/banner.ejs') %>

    <div id="main-menu">
      <div id="navbar">
        <ul>
          <li><a href="/" class="">Dashboard</a></li>
          <li><a href="/so" class="">Sales Orders</a></li>
          <li><a href="/po" class="active">Purchase Orders</a></li>
          <li><a href="/inventory/item-maintenance" class="">Inventory</a></li>
          <li><a href="/reports" class="">Reports</a></li>
          <li><a href="/sysconfig" class="">System Config</a></li>
        </ul>
      </div>
      <div id="sub-menu">
        <ul>
          <%- include('../includes/po-submenu.ejs') %>
        </ul>
      </div>
    </div>

    <div id="workspace">
      <form
        action="/po/update"
        method="POST"
        autocomplete="off"
        onsubmit="return sendTableData()"
      >
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div class="flex">
          <h1>Order # <%= poDetails.poNum %></h1>
          <input type="hidden" name="poNum" value="<%= poDetails.poNum %>" />

          <a href="/po/previous/<%= poDetails.poNum%>"
            ><button
              id="backwardsBtn"
              type="button"
              class="poArrowSearchBtnLeft"
            >
              <svg height="20" width="20">
                <polygon
                  points="20,20 0,10 20,0"
                  style="
                    fill: rgb(87, 87, 87);
                    stroke: rgb(3, 3, 3);
                    stroke-width: 1;
                  "
                />
              </svg></button
          ></a>

          <a href="/po/next/<%= poDetails.poNum%>"
          method="GET"
            ><button
              id="forwardsBtn"
              type="button"              
              class="poArrowSearchBtnRight"
            >
              <svg height="20" width="20">
                <polygon
                  points="0,20 20,10 0,0"
                  style="
                    fill: rgb(87, 87, 87);
                    stroke: rgb(3, 3, 3);
                    stroke-width: 1;
                  "
                />
              </svg>
            </button>
          </a>

          <button class="poBtns" id="poSelectionBtn" type="button">
            Search
          </button>
          <!-- <select name="poSelection" id="poSelection" class="poBtns">
            <option value="ALL" selected>ALL</option>
            <option value="OPEN">OPEN</option>
            <option value="CLOSED">CLOSED</option>
          </select> -->
          <h1 class="poStatusText">PO Status: *<%= poDetails.status %>*</h1>
          <input type="hidden" name="poStatus" value="NEW" />
        </div>
        <div id="vendorSelection">
          <label for="vendor">Vendor:</label>
          <input
            type="text"
            name="vendor"
            value="<%= poDetails.vendorNum %>"
            size="30"
          />
          <button type="button" id="vendorSelectionBtn" tooltip="test">
            <i class="fas fa-user-tie"></i>
          </button>
        </div>
        <div>
          <label for="orderDate">Order Date:</label>
          <input
            id="orderDateInput"
            class="poSelectFields"
            type="date"
            name="orderDate"
            size="8"
            value="<%= poOrderDate %>"
          />
          <label for="expectedDate">Expected Date:</label>
          <input
            id="expectedDateInput"
            class="poSelectFields"
            type="date"
            name="expectedDate"
            size="8"
            value="<%= poExpectedDate %>"
          />
          <label for="shippingMethod">Shipping Method:</label>
          <select
            name="shippingMethod"
            id="shippingMethod"
            class="poSelectFields"
          >
            <% shippingMethodList.forEach(function(shippingMethod) { %> <% if
            (shippingMethod.name == poDetails.shippingMethod) { %>
            <option SELECTED value="<%= shippingMethod.name %>">
              <%= shippingMethod.name %>
            </option>
            <% } else { %>
            <option value="<%= shippingMethod.name %>">
              <%= shippingMethod.name %>
            </option>
            <% } %> <% }); %>
          </select>
          <label for="shipToLocation">Ship to Location:</label>
          <select
            name="shipToLocation"
            id="shipToLocation"
            class="poSelectFields"
          >
            <% warehouseList.forEach(function(warehouse) { %> <% if
            (warehouse.name == poDetails.shipToLocation) { %>
            <option SELECTED value="<%= warehouse.name %>">
              <%= warehouse.name %>
            </option>
            <% } else { %>
            <option value="<%= warehouse.name %>"><%= warehouse.name %></option>
            <% } %> <% }); %>
          </select>
          <label for="terms">Terms:</label>
          <select name="terms" id="terms" class="poSelectFields">
            <% paymentTermList.forEach(function(paymentTerm) { %> <% if
            (paymentTerm.code == poDetails.terms) { %>
            <option SELECTED value="<%= paymentTerm.code %>">
              <%= paymentTerm.code %>
            </option>
            <% } else { %>
            <option value="<%= paymentTerm.code %>">
              <%= paymentTerm.code %>
            </option>
            <% } %> <% }); %>
          </select>
          <h3>Submitted by: <%= createdBy %></h3>
          <input type="hidden" name="createdBy" value="<%= createdBy %>" />
        </div>

        <hr />
        <h1>Line Items</h1>
        <table id="poTableHeaders">
          <tr>
            <th class="poTableLineHeader">Line</th>
            <th class="poTableItemNum">Item Num</th>
            <th class="poTableDescription">Description</th>
            <th class="poTableQuantity">Quantity</th>
            <th class="poTableUOM">UOM</th>
            <th class="poTableCost">Cost</th>
            <th class="poTableExtended">Extended</th>
            <th class="poTableDeleteBtn"></th>
          </tr>
        </table>
        <div class="poLineScroll">
          <table id="poTable">
            <tr>
              <td class="poTableLine">
                <button id="poTableAddLineBtn" type="button">+</button>
              </td>
              <td class="poTableItemNum">
                <button id="itemSelectionBtn" type="button">
                  Item lookup (F1)
                </button>
              </td>
              <td class="poTableDescription"></td>
              <td class="poTableQuantity"></td>
              <td class="poTableUOM"></td>
              <td class="poTableCost"></td>
              <td class="poTableExtended"></td>
              <td class="poTableDeleteBtn"></td>
            </tr>
            <% poDetails.poTableData.forEach(function(line) { %>
            <tr>
              <td class="poTableLine"><%= line.line %></td>
              <td class="poTableItemNum poTableFocus" contenteditable="true">
                <%= line.itemID %>
              </td>
              <td
                class="poTableDescription poTableFocus"
                contenteditable="true"
              >
                <%= line.itemDescription %>
              </td>
              <td
                class="poTableQuantity poTableFocus"
                contenteditable="true"
                onfocusout="poLineUpdateExtCost(this)"
              >
                <%= line.qtyOrdered %>
              </td>
              <td
                class="poTableUOM poTableFocus"
                onfocusout="poLineUpdateExtCost(this)"
              >
                <select>
                  <option value="1" selected="true">EACH</option>
                  <option value="12">CS12</option>
                </select>
              </td>
              <td
                class="poTableCost poTableFocus"
                contenteditable="true"
                onfocusout="poLineUpdateExtCost(this)"
              >
                <%= line.cost %>
              </td>
              <td class="poTableExtended">
                <%= line.cost * line.qtyOrdered %>
              </td>
              <td class="poTableDeleteBtn">
                <i
                  id="poLineDeleteBtn"
                  class="fas fa-minus-circle"
                  onclick="poLineDeleteBtn(this)"
                  aria-hidden="true"
                ></i>
              </td>
            </tr>
            <% }); %>
          </table>
          <input id="poTableData" type="hidden" name="poTableData" value="" />
        </div>
        <div class="flex poSumLabel">
          <% let poSumAmount = 0; poDetails.poTableData.forEach(function(line) {
          const lineTotal = +line.qtyOrdered * +line.cost; poSumAmount =
          (+lineTotal + +poSumAmount).toFixed(2); }) %>
          <h4>Subtotal:</h4>
          <h4 class="poSum"><%= poSumAmount %></h4>
        </div>        
        <div class="poActionBtns">
          <a href="/po/new"><button type="button">New</button></a>
          <button id="poUpdateBtn">Update</button>
          <button formaction="/po/delete">Delete</button>
          <button type="button">Print PO</button>
          <a href="/po/receiver/new/<%= newPONumber %>" method="GET"><button type="button">Receive PO</button></a>
        </div>
        <input type="hidden" name="id" value="<%= poDetails._id %>" />
      </form>

      <!-- The vendorSearchModal -->
      <div id="vendorSelectionModal" class="vendorSearchModal">
        <!-- vendorSearchModal content -->
        <div class="vendorSearchModal-content">
          <span class="close">&times;</span>
          <h2 class="vendorSelectHeading">Select a Vendor</h2>
          <table id="vendorSelectionTable">
            <tr>
              <th>Vendor Name</th>
            </tr>
            <% for (const vendor of vendorList) { %>
            <tr>
              <td><%= vendor.name %></td>
              <td>
                <button id="vendorSelectBtn" onclick="selectVendor(this)">
                  Select
                </button>
              </td>
            </tr>
            <% } %>
          </table>
        </div>
      </div>

      <!-- The itemSearchModal -->
      <div id="itemSelectionModal" class="itemSearchModal">
        <!-- itemSearchModal content -->
        <div class="itemSearchModal-content">
          <span class="close">&times;</span>
          <h2 class="itemSelectHeading">Select an item</h2>
          <div class="itemSearchFilter">
            <h5>Filter:</h5>
            <select
              name="itemSearchFilterSelection"
              id="itemSearchFilterSelection"
            >
              <option value="itemID">Item ID</option>
              <option value="description">Description</option>
              <option value="category">Category</option>
              <option value="type">Type</option>
            </select>
            <select
              name="itemSearchFilterOperator"
              id="itemSearchFilterOperator"
            >
              <!-- <option value="equals">Equals</option> -->
              <option value="contains">Contains</option>
              <!-- <option value="excludes">Excludes</option> -->
            </select>
            <input
              type="text"
              id="itemSearchFilterValue"
              onkeyup="applyItemSelectionFilter()"
            />
            <!-- <button type="button" id="applyFilterBtn">Apply</button> -->
          </div>
          <table id="itemSelectionTable">
            <tr>
              <th>Item ID</th>
              <th>Description</th>
              <th>Category</th>
              <th>Type</th>
              <th>Qty Available</th>
            </tr>
            <% for (const item of itemList) { %>
            <tr>
              <td><%= item.itemID %></td>
              <td><%= item.description %></td>
              <td><%= item.category %></td>
              <td><%= item.type %></td>
              <td><%= item.totalQtyOnHand - item.qtyAllocated %></td>
              <td>
                <button id="itemSelectBtn" onclick="selectItem(this)">
                  Select
                </button>
              </td>
            </tr>
            <% } %>
          </table>
        </div>
      </div>

      <!-- The poSearchModal -->
      <div id="poSelectionModal" class="poSearchModal">
        <!-- poSearchModal content -->
        <div class="poSearchModal-content">
          <span class="close">&times;</span>
          <h2 class="poSelectHeading">Select a Purchase Order</h2>
          <div class="poSearchFilter">
            <h5>Filter:</h5>
            <select name="poSearchFilterSelection" id="poSearchFilterSelection">
              <option value="orderDate">Order Date</option>
              <option value="expectedDate">Expected Date</option>
              <option value="poNum">PO Num</option>
              <option value="status">Status</option>
              <option value="vendor">Vendor</option>
            </select>
            <select name="poSearchFilterOperator" id="poSearchFilterOperator">
              <!-- <option value="equals">Equals</option> -->
              <option value="contains">Contains</option>
              <!-- <option value="excludes">Excludes</option> -->
            </select>
            <input
              type="text"
              id="poSearchFilterValue"
              onkeyup="applyPOSelectionFilter()"
            />
            <!-- <button type="button" id="applyFilterBtn">Apply</button> -->
          </div>
          <table id="poSelectionTable">
            <tr>
              <th>Order Date</th>
              <th>Expected Date</th>
              <th>PO Num</th>
              <th>Status</th>
              <th>Vendor</th>
            </tr>
            <% poList.forEach(function(po) { %>
            <tr>
              <td><%= po.orderDate.getMonth() %>/<%= po.orderDate.getDate() %>/<%= po.orderDate.getFullYear() %></td>
              <td><%= po.expectedDate.getMonth() %>/<%= po.expectedDate.getDate() %>/<%= po.expectedDate.getFullYear() %></td>
              <td><%= po.poNum %></td>
              <td><%= po.status %></td>
              <td><%= po.vendorNum %></td>
              <td>
                <button id="poSelectBtn" onclick="selectPO(this)">
                  Select
                </button>
              </td>
            </tr>
            <% }) %>
          </table>
        </div>
      </div>
    </div>
    
    <script src="/js/purchaseOrder.js"></script> 
  </body>
</html>