<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/purchaseOrder.css" />
  </head>
  <body>
    <%- include('../includes/banner.ejs') %>

    <div id="main-menu">
      <div id="navbar">
        <ul>
          <li><a href="/" class="">Dashboard</a></li>
          <li><a href="/so" class="">Sales Orders</a></li>
          <li><a href="/po" class="active">Purchase Orders</a></li>
          <li><a href="/inventory/item-maintenance" class="">Inventory</a></li>
          <li><a href="/reports" class="">Reports</a></li>
          <li><a href="/sysconfig" class="">System Config</a></li>
        </ul>
      </div>
      <div id="sub-menu">
        <ul>
          <%- include('../includes/po-submenu.ejs') %>
        </ul>
      </div>
    </div>

    <div id="workspace">
      <form
        action="/po/createReceiver"
        method="POST"
        autocomplete="off"
        onsubmit="return sendReceiverTableData()"
      >
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div class="flex">
          <h1>Receiver #</h1>
          <input type="hidden" name="poNum" value="" />

          <a href="/po/previous/empty"
            ><button
              id="backwardsBtn"
              type="button"
              class="poArrowSearchBtnLeft"
            >
              <svg height="20" width="20">
                <polygon
                  points="20,20 0,10 20,0"
                  style="
                    fill: rgb(87, 87, 87);
                    stroke: rgb(3, 3, 3);
                    stroke-width: 1;
                  "
                />
              </svg></button
          ></a>

          <a href="/po/next/empty" method="GET"
            ><button
              id="forwardsBtn"
              type="button"
              class="poArrowSearchBtnRight"
            >
              <svg height="20" width="20">
                <polygon
                  points="0,20 20,10 0,0"
                  style="
                    fill: rgb(87, 87, 87);
                    stroke: rgb(3, 3, 3);
                    stroke-width: 1;
                  "
                />
              </svg>
            </button>
          </a>

          <button class="poBtns" id="poSelectionBtn" type="button">
            Search
          </button>
          <!-- <select name="poSelection" id="poSelection" class="poBtns">
            <option value="ALL" selected>ALL</option>
            <option value="OPEN">OPEN</option>
            <option value="CLOSED">CLOSED</option>
          </select> -->
          <h1 class="poStatusText">Receiver Status:</h1>
          <input type="hidden" name="poStatus" value="NEW" />
        </div>
        <div id="vendorSelection">
          <label for="vendor">Vendor:</label>
          <input disabled type="text" name="vendor" value="" size="30" />
          <button disabled type="button" id="vendorSelectionBtn" tooltip="test">
            <i class="fas fa-user-tie"></i>
          </button>
          <div id="vendorInvoiceNum">
            <label for="vendorInvoiceNum">Vendor Invoice # :</label>
            <input disabled type="text" name="vendorInvoiceNum" size="10" />
          </div>
        </div>

        <div>
          <label for="orderDate">Order Date:</label>
          <input
            disabled
            id="orderDateInput"
            class="poSelectFields"
            type="date"
            name="orderDate"
            size="8"
            value=""
          />
          <label for="expectedDate">Expected Date:</label>
          <input
            disabled
            id="expectedDateInput"
            class="poSelectFields"
            type="date"
            name="expectedDate"
            size="8"
            value=""
          />
          <label for="shippingMethod">Shipping Method:</label>
          <select
            disabled
            name="shippingMethod"
            id="shippingMethod"
            class="poSelectFields"
          >
            <option value="default">Default</option>
          </select>
          <label for="shipToLocation">Ship to Location:</label>
          <select
            disabled
            name="shipToLocation"
            id="shipToLocation"
            class="poSelectFields"
          >
            <option value="default">Default</option>
          </select>
          <label for="terms">Terms:</label>
          <select disabled name="terms" id="terms" class="poSelectFields">
            <option value="default">Default</option>
          </select>
          <h3>Submitted by:</h3>
          <input type="hidden" name="createdBy" value="" />
        </div>

        <hr />
        <h1>Line Items</h1>
        <table id="poTableHeaders">
          <tr>
            <th class="poTableLineHeader">Line</th>
            <th class="poTableItemNum">Item Num</th>
            <th class="poTableDescription">Description</th>
            <th class="poTableQuantity">Quantity Ordered</th>
            <th class="poTableQuantity">Quantity Received</th>
            <th class="poTableUOM">UOM</th>
            <th class="poTableCost">Cost</th>
            <th class="poTableExtended">Extended</th>
            <th class="poTableDeleteBtn"></th>
          </tr>
        </table>
        <div class="poLineScroll">
          <table id="poTable">
            <tr>
              <td class="poTableLine">
                <button disabled id="poTableAddLineBtn" type="button" disabled>
                  +
                </button>
              </td>
              <td class="poTableItemNum"></td>
              <td class="poTableDescription"></td>
              <td class="poTableQuantity"></td>
              <td class="poTableQuantity"></td>
              <td class="poTableUOM"></td>
              <td class="poTableCost"></td>
              <td class="poTableExtended"></td>
              <td class="poTableDeleteBtn"></td>
            </tr>
          </table>
          <input
            id="receiverTableData"
            type="hidden"
            name="receiverTableData"
            value=""
          />
        </div>
        <div class="flex poSumLabel">
          <h4>Subtotal:</h4>
          <h4 class="poSum"></h4>
        </div>
        <button disabled id="poUpdateBtn">Save</button>
        <input type="hidden" name="id" value="" />
      </form>

      <!-- The vendorSearchModal -->
      <div id="vendorSelectionModal" class="vendorSearchModal">
        <!-- vendorSearchModal content -->
        <div class="vendorSearchModal-content">
          <span class="close">&times;</span>
          <h2 class="vendorSelectHeading">Select a Vendor</h2>
          <table id="vendorSelectionTable">
            <tr>
              <th>Vendor Name</th>
            </tr>
            <% for (const vendor of vendorList) { %>
            <tr>
              <td><%= vendor.name %></td>
              <td>
                <button id="vendorSelectBtn" onclick="selectVendor(this)">
                  Select
                </button>
              </td>
            </tr>
            <% } %>
          </table>
        </div>
      </div>

      <!-- The itemSearchModal -->
      <div id="itemSelectionModal" class="itemSearchModal">
        <!-- itemSearchModal content -->
        <div class="itemSearchModal-content">
          <span class="close">&times;</span>
          <h2 class="itemSelectHeading">Select an item</h2>
          <div class="itemSearchFilter">
            <h5>Filter:</h5>
            <select
              name="itemSearchFilterSelection"
              id="itemSearchFilterSelection"
            >
              <option value="itemID">Item ID</option>
              <option value="description">Description</option>
              <option value="category">Category</option>
              <option value="type">Type</option>
            </select>
            <select
              name="itemSearchFilterOperator"
              id="itemSearchFilterOperator"
            >
              <!-- <option value="equals">Equals</option> -->
              <option value="contains">Contains</option>
              <!-- <option value="excludes">Excludes</option> -->
            </select>
            <input
              type="text"
              id="itemSearchFilterValue"
              onkeyup="applyItemSelectionFilter()"
            />
            <!-- <button type="button" id="applyFilterBtn">Apply</button> -->
          </div>
          <table id="itemSelectionTable">
            <tr>
              <th>Item ID</th>
              <th>Description</th>
              <th>Category</th>
              <th>Type</th>
              <th>Qty Available</th>
            </tr>
            <% for (const item of itemList) { %>
            <tr>
              <td><%= item.itemID %></td>
              <td><%= item.description %></td>
              <td><%= item.category %></td>
              <td><%= item.type %></td>
              <td><%= item.totalQtyOnHand - item.qtyAllocated %></td>
              <td>
                <button id="itemSelectBtn" onclick="selectItem(this)">
                  Select
                </button>
              </td>
            </tr>
            <% } %>
          </table>
        </div>
      </div>

      <!-- The poSearchModal -->
      <div id="poSelectionModal" class="poSearchModal">
        <!-- poSearchModal content -->
        <div class="poSearchModal-content">
          <span class="close">&times;</span>
          <h2 class="poSelectHeading">Select a Purchase Order</h2>
          <div class="poSearchFilter">
            <h5>Filter:</h5>
            <select name="poSearchFilterSelection" id="poSearchFilterSelection">
              <option value="orderDate">Order Date</option>
              <option value="receivedDate">Received Date</option>
              <option value="poNum">PO Num</option>
              <option value="status">Status</option>
              <option value="vendor">Vendor</option>
            </select>
            <select name="poSearchFilterOperator" id="poSearchFilterOperator">
              <!-- <option value="equals">Equals</option> -->
              <option value="contains">Contains</option>
              <!-- <option value="excludes">Excludes</option> -->
            </select>
            <input
              type="text"
              id="poSearchFilterValue"
              onkeyup="applyPOSelectionFilter()"
            />
            <!-- <button type="button" id="applyFilterBtn">Apply</button> -->
          </div>
          <table id="poSelectionTable">
            <tr>
              <th>Order Date</th>
              <th>Received Date</th>
              <th>PO Num</th>
              <th>Status</th>
              <th>Vendor</th>
            </tr>
            <% receiverList.forEach(function(receiver) { %>
            <tr>
              <td>
                <%= receiver.orderDate.getMonth() %>/<%=
                receiver.orderDate.getDate() %>/<%=
                receiver.orderDate.getFullYear() %>
              </td>
              <td>
                <%= receiver.receivedDate.getMonth() %>/<%=
                receiver.receivedDate.getDate() %>/<%=
                receiver.receivedDate.getFullYear() %>
              </td>
              <td><%= receiver.receiverNum %></td>
              <td><%= receiver.status %></td>
              <td><%= receiver.vendorNum %></td>
              <td>
                <button id="receiverSelectBtn" onclick="selectReceiver(this)">
                  Select
                </button>
              </td>
            </tr>
            <% }) %>
          </table>
        </div>
      </div>
    </div>
    <div class="receiverActionBtns">
      <button>Print</button>
      <button>Delete</button>
      <button>Post</button>
    </div>

    <script src="/js/purchaseOrder.js"></script>
    <script src="/js/receiverNewDate.js"></script>
  </body>
</html>
